/wp-content/ai1wm-backups/index.html
/wp-content/ai1wm-backups/.htaccess
/wp-content/ai1wm-backups/tenthlife.org-20200316-044556-234ag5.wpress
/wp-content/ai1wm-backups/index.php
/.DS_Store
/wp-content/ai1wm-backups/web.config
/wp-content/ai1wm-backups/tenthlife.org-20200316-043812-2cekb3.wpress
/wp-content/ai1wm-backups/tenthlife.org-20200316-044256-afp4xv.wpress
/wp-content/ai1wm-backups
/wp-content/ai1wm-backups/
/wp-content/cache/
/wp-content/cache
*.wpress
*.img
